<%- include("partials/dashboardheader") -%>

<div class="">
  <div class="jumbotron">
    <table>

      <thead>
        <tr>
          <th class="mx-3 spacing">
            customers_id
          </th>
          <th class="mx-3 spacing">
            Name of customer
          </th>
          <th class="mx-3 spacing">
            Email address
          </th>
          <th class="mx-3 spacing">
          Transaction _id</th>
          <th class="mx-3 spacing">
            Website type
          </th>
          <th class="mx-3 spacing">
            Payment(true or false)
          </th>
          <th class="mx-3 spacing">
            Time
          </th>
          <th class="mx-3 spacing">
            Delivered (true or false)
          </th>
        </tr>
      </thead>

      <tbody>
        <% customer.forEach(function(item){ %>
        <tr class="sidecol">
          <td class="mx-3 spacing">
          <%=  item._id %>
          </td>
          <td class="mx-3 spacing">
          <%=  item.customer %>
          </td>
          <td class="mx-3 spacing">
          <%=  item.customer%>
          </td>
          <td class="mx-3 spacing">
            <%=  item.customer %>
            </td>
          <td class="mx-3 spacing">
          <%=  item.customer %>
          </td>
          <td class="mx-3 spacing">
        <%=    item.customer %>
          </td>
          <td class="mx-3 spacing">
          <%=  item.customer %>
          </td>
          <td class="mx-3 spacing">
        <%=  item.customer %>
          </td> --> %>
        </tr>

        <%  }); %>

      </tbody>
    </table>
  </div>



</div>

<%- include("partials/dashboardfooter") -%>
