<%- include("partials/header"); -%>


<!-- Introduction -->
<div class="bg-light sweet">

  <div class="navigation-pan textcolor">
    <h1 class='sup'>Move your business higher with our developmental tools.
      <a href="/register" class="btn btn-outline-dark">Start here</a>
    </h1>
    <p style="margin-bottom:0;">hubtek starts your dream of having a website
      that can serve up to your customers expectation. We are on the lookout not just
      to build the website for your business but to also provide good security measures for your potential customers.
    </p>
  </div>
</div>
<!-- End of introduction -->

<!-- How we work -->
<section class="worksection">
  <div class="work">
    <h2 class="designer">How we work</h2>
  </div>

  <div class="row sidespace">
    <div class="col-lg-4 mb-4 col-md-8 col-sm-10">
      <div class="card">
        <img src="images/planWorld.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> <i class="fa fa-object-group fa-2x" aria-hidden="true"></i>&nbsp; &nbsp;Planning</h5>
          <p class="card-text">Our project are well planned. We focus on the content</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4 col-md-8 col-sm-10">
      <div class="card">
        <img src="images/planBoard.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-meetup fa-2x" aria-hidden="true"></i>&nbsp; &nbsp; Design</h5>
          <p class="card-text">We design for the user using the principles of
            color theory, typography, user interface design and user experience design.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4 col-md-8 col-sm-10">
      <div class="card">
        <img src="images/projectDevelopment.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>&nbsp; &nbsp;Development</h5>
          <p class="card-text">Rapid developmental tools.</p>
        </div>
      </div>

    </div>
    <div class="col-lg-4 mb-4 col-md-8 col-sm-10">
      <div class="card">
        <img src="images/security.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-shield fa-2x" aria-hidden="true"></i>&nbsp; &nbsp; Security</h5>
          <p class="card-text">Security is our topmost priority</p>
        </div>
      </div>

    </div>

    <div class="col-lg-4 mb-4 col-md-8 col-sm-10">
      <div class="card">
        <img src="images/nurtureIdea.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><i class="fa fa-bolt fa-2x" aria-hidden="true"></i>&nbsp; &nbsp; Production</h5>
          <p class="card-text">The final stage of you starting your business online is in our production.</p>
          <a href="/myBlog" class="btn btn-outline-primary mt-1">Visit our Blog</a>
          <a href="/register" class="btn btn-outline-dark mt-1">Hire me</a>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End of work section -->


<section>
  <div class="row">


    <div class="position col-lg-4 col-md-8 col-sm-12 " id="offers">
      <i class="fa fa-code fa-5x fontColor" aria-hidden="true"></i>
      <h1>SEO Ready Code</h1>
      <p>Ready site that has been optimized for search engine optimization.</p>
    </div>

    <div class="col-lg-4 col-md-8 col-sm-12 position rev ">
      <i class="fa fa-tasks fa-5x fontColor" aria-hidden="true"></i>
      <h1>Responsive development</h1>
      <p>Responsive on smartphones, tablet, pc and others.</p>
    </div>

    <div class="col-lg-4 col-md-8 col-sm-12 position">
      <i class="fa fa-fort-awesome fa-5x fontColor" aria-hidden="true"></i>
      <h1>Awesome Feature</h1>
      <p>Easy-to-use, dynamic colors, grid, video, map and much more.</p>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 position rev">
      <i class="fa fa-life-ring fa-5x fontColor" aria-hidden="true"></i>
      <h1>Full support</h1>
      <p>A ready support to help you with solutions to problems.</p>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 position">
      <i class="fas fa-project-diagram fa-5x fontColor"></i>
      <h1>High customizibility</h1>
      <p>Customize website in few seconds</p>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-12 position rev">
      <i class="fab fa-uncharted fa-5x fontColor" aria-hidden="true"></i>
      <h1>up-To-Date Software</h1>
      <p>Advance Software development</p>
    </div>
  </div>
</section>

<section class="worksection ">
  <div class="reasons">
    <h1>Few Reasons</h1>
    <h1>Why Choose Us</h1>
  </div>

  <div class="row">

    <div class="col-lg-4 col-md-6 col-sm-12 reshape">
      <div class="vertical">
        <h1>.01</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Our Client</h5>
          <p class="card-text">We work with our client to see what they really want and give them just that.</p>
        </div>
      </div>
    </div>


    <div class="col-lg-4 col-md-6 col-sm-12 reshape">
      <div class="vertical">
        <h1>.02</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Projects</h5>
          <p class="card-text">Our project are fast paced and we refactor our codes
            to make it easier for other developers. </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 reshape">
      <div class="vertical">
        <h1>.03</h1>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Report and Analysis</h5>
          <p class="card-text">Analyzing the code is what we put first in our Production.
            Our codes are analyzed on development.</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section id="testimonials">
  <div class="imageresize reasons">
    <h1 class="OT">Our Testimonials</h1>
    <!-- bootstrap carousels  -->
  </div>
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="imageresize">
          <img src="images/coffeeComputer.jpg" class="d-block w-100 ir" alt="testimonials">
        </div>
        <p class="text-center">Easy to use web application.
      </div>

      <div class="carousel-item">
        <div class="imageresize">
          <img src="images/travel.jpg" class="d-block w-100 ir " alt="testimonials">
        </div>
        <p class="text-center">Reusable code.</p>
      </div>

      <div class="carousel-item">
        <div class="imageresize">
          <img src="images/relations.jpg" class="d-block w-100 ir" alt="testimonials">
        </div>
        <p style="text-align:center;">Web application with more attention.</p>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- end of bootstrap carousels -->
</section>

<section class="worksection " id="news">
  <h1 class="reasons">Our News</h1>

  <!-- bootstrap media -->
  <ul class="list-unstyled res">
    <% blogPost.forEach(function(item) {  %>

    <li class="media my-4" style="background-color:aliceblue;">
      <img src="<%- item.imageurl %>" class="mr-2 newsimage" alt="...">
      <div class="media-body mr-2" >
        <h5 class="mt-0 mb-1 fonter"><%- item.title%></h5>
        <div class="OR"> <%- item.content.substr(0,30)%>&nbsp;...
          <!-- <div class=""> -->
            <a href="/myBlog/#<%= item._id %>" class="disp">VIEW DETAILS <span>></span></a>
            <small> <%=item.time%> : <%= item.authorName %> </small>
          <!-- </div> -->
        </div>
      </div>
    </li>

    <% });%>




  </ul>

  <!-- End of bootstrap media -->
</section>


<%- include("partials/footer"); -%>
