<%- include("partials/dashboardheader") -%>

<div class="">
  <div class="jumbotron">
    <table>

      <thead>
        <tr>
          <th class="mx-3 spacing">
            Blog title
          </th>
          <th class="mx-3 spacing">
            Blog author
          </th>
          <th class="mx-3 spacing">
            Views
          </th>
        </tr>
      <%  report.forEach(function(item){ %>
        <tr>
          <td class="mx-3 spacing">
            <%= item.title %>
          </td>
          <td class="mx-3 spacing">
          <%=  item.authorName %>
          </td>
          <td class="mx-3 spacing">
          <%=  item.views %>
          </td>
        </tr>
    <%    }); %>

      </thead>
    </table>
  </div>
</div>

<%- include("partials/dashboardfooter") -%>
