<%- include ("partials/header") -%>
<div class="jumbotron">
  <% if (rendernoItem === true) { %>
  <h1><%= noItem %></h1>
  <a href="/myBlog"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; go back</a>

  <% } else{ %>
  <% blogPost.forEach(function(item){%>
  <div class="blog-post">
    <h2 class="blog-post-title" id=<%= item._id %>><%- item.title %></h2>
    <p class="blog-post-meta"><%- item.time %>&nbsp; by &nbsp;<%- item.authorName %></p>
    <div class="domparser">
      <p>
        <%- item.content.substr(0,500) %>
        <small><a href="/myBlog/message/<%= item._id %>">Read more...</a></small>
        <small><%= item.views %> views &nbsp;<i class="fa fa-eye" aria-hidden="true"></i> </small>
      </p>
    </div>
    <a href="/myBlog/#<%= blogPost._id%>" class="link bold"><i class="fa fa-arrow-left" aria-hidden="true" ></i>&nbsp;go back</a>
    <small class="text-danger" style="display:block;">

          <a href="/register" class="btn btn-outline-dark mr-sm-3 mr-3 btn-sm">Hire me</a>
    </small>
  </div>


  <hr style="background-color:#e9ecef;">
  <!-- /.blog-post -->
  <% }); %>
  <%  } %>

</div>
<!-- Java script code link for bootstrap-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> <!-- jquery code link -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>
